<app-start-menu *ngIf="!gameStarted" (gameStarted)="startGame()">
</app-start-menu>

<app-game-over
  *ngIf="isGameOver"
  [score]="score"
  (tryAgain)="resetGame()"
></app-game-over>


<div *ngIf="gameStarted && !isGameOver" class="game-container">
  <h2>Memory Trainer 🧠</h2>
  <p>Score: {{ score }}</p>

  <app-lives-display [lives]="lives" [maxLives]="maxLives"></app-lives-display>

  <div *ngIf="showNumbers">
    <p style="font-weight: bold;">Remember the digits!</p>
  </div>

  <div *ngIf="showNumbers" class="sequence">
    <span *ngFor="let digit of currentSequence">{{ digit }}</span>
  </div>

  <ng-container *ngIf="inputVisible">
    <div class="input-section">
      <div class="input-row">
        <input
          *ngFor="let digit of currentSequence; let i = index"
          [(ngModel)]="userInput[i]"
          maxlength="1"
          type="text"
          class="digit-input focused-style"
          #inputBox
          (input)="onDigitInput(i, inputBox)"
        />
      </div>
      <button #submitButton class="button-style focused-style" (click)="checkAnswer()">Submit</button>
    </div>
  </ng-container>

</div>

<app-timer-bar
  *ngIf="inputVisible"
  [duration]="timerDuration"
  (timeout)="onTimeExpired()"
></app-timer-bar>
