<app-start-menu *ngIf="state === 0" (gameStarted)="startGame()"></app-start-menu>

<app-game-over
  *ngIf="state === 3"
  [data]="gameOverData"
  (tryAgain)="resetGame()"
></app-game-over>

<div *ngIf="state === 1 || state === 2" class="game-container">
  <h2>Memory Trainer 🧠</h2>
  <p>Score: {{ score }}</p>

  <app-lives-display [lives]="lives" [maxLives]="maxLives"></app-lives-display>

  <div *ngIf="state === 1">
    <p style="font-weight: bold;">Remember the digits!</p>
  </div>

  <div *ngIf="state === 1" class="input-row">
    <input
      *ngFor="let digit of currentSequence"
      [value]="digit"
      type="text"
      class="digit-input"
      disabled
    />
  </div>

  <ng-container *ngIf="state === 2">
    <div class="input-section">
      <div class="input-row">
        <input
          *ngFor="let digit of currentSequence; let i = index"
          [(ngModel)]="userInput[i]"
          maxlength="1"
          type="text"
          class="digit-input focused-style"
          #inputBox
          (input)="onDigitInput(i, inputBox)"
          (keydown)="onDigitInput(i, inputBox, $event)"
        />
      </div>
      <button #submitButton class="button-style focused-style" (click)="checkAnswer()">Submit</button>
    </div>
  </ng-container>
</div>

<app-timer-bar
  *ngIf="state === 2"
  [duration]="timerDuration"
  (timeout)="onTimeExpired()"
></app-timer-bar>
